<!DOCTYPE html>

<div data-ng-if="projectData.ready && status.logged && projectData.access.admin">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Project administration</h3>
        </div>
        <div class="panel-body">
            <div data-ng-if="projectData.project.open">
                <button class="btn btn-default" data-ng-click="closeProject()">
                    Close project
                </button>
            </div>
            <div data-ng-if="!projectData.project.open" class="btn-group">
                <button class="btn btn-default" data-ng-click="openProject()">
                    Open project
                </button>
                <button class="btn btn-default" data-ui-sref="project.edit.home">
                    Edit project
                </button>
            </div>
        </div>
    </div>


    <div data-ng-switch="projectData.project.type">
        <div data-ng-switch-when="challenge">
            <div data-ng-include="'partials/project/admin/project-admin-challenge.html'"
                 data-ng-controller="ProjectAdminChallengeCtrl"></div>
        </div>
    </div>
</div>

<div data-ng-if="!projectData.ready">
    <div class="header">
        <div class="throbber"></div>
        <h2>Loading...</h2>
    </div>
</div>