$nquire-it-font: 'Merriweather Sans';

@mixin text-regular {
  font-weight: 400;
}

@mixin text-italic {
  font-weight: 400;
  font-style: italic;
}


@mixin text-semibold {
  font-weight: 700;
}

@mixin text-semibold-italic {
  font-weight: 700;
  font-style: italic;
}


@mixin text-bold {
  font-weight: 800;
}
@mixin text-black {
  font-weight: 800;
}
