<!DOCTYPE html>

<div data-ng-controller="ProjectEditMenuCtrl">
    <ul class="nav nav-tabs">
        <li data-ng-class="{'active' : projectEditMenuIsActive('home')}">
            <a data-ui-sref="project.edit.home">Description</a>
        </li>

        <li data-ng-if="type('senseit')" data-ng-class="{'active' : projectEditMenuIsActive('senseit')}">
            <a data-ui-sref="project.edit.senseit">Sense-it configuration</a>
        </li>
        <li data-ng-if="type('challenge')" data-ng-class="{'active' : projectEditMenuIsActive('challenge')}">
            <a data-ui-sref="project.edit.challenge">Challenge configuration</a>
        </li>
    </ul>
</div>
