
$color-dark-grey: #444444;
$color-medium-grey: #777777;
$color-light-grey: #aaaaaa;

$color-header-search-box: #e6e6e6;

$color-orange: #f39a19;

$color-mission-senseit: #079ccb;
$color-mission-spotit: #9fa609;
$color-mission-winit: #c4388a;

$color-project-list-item-background: #f6f5f5;