$dim-common-margin: 20px;
$dim-common-small-margin: 10px;
$dim-common-tiny-margin: 5px;

$dim-common-right-panel-content-width: 210px;
$dim-common-right-panel-container-width: $dim-common-right-panel-content-width + 2 * $dim-common-small-margin;

$dim-header-height: 145px;
$dim-header-margin-top: $dim-common-small-margin;
$dim-header-margin-bottom: $dim-common-margin;
$dim-header-margin-left: $dim-common-margin;
$dim-header-margin-right: $dim-common-small-margin;

$dim-header-logo-bottom: 91px;
$dim-header-subtitle-line-height: 44px;
$dim-header-border-bottom-width: 5px;

$dim-header-logo-baseline: 39px;
$dim-header-logo-top: $dim-header-logo-bottom - $dim-header-logo-baseline;

$dim-header-search-box-width: $dim-common-right-panel-content-width;
$dim-header-search-box-height: 28px;
$dim-header-menu-item-margin: 20px;

$dim-profile-circle-border-width: 2px;
$dim-profile-image-size: 80px;
$dim-profile-image-margin: 5px;
$dim-profile-image-outer-diameter: 2 * $dim-profile-circle-border-width + $dim-profile-image-size;

$dim-right-menu-separator-line-width: 2px;

$dim-common-banner: 26px;

$dim-project-list-image-aspect-ratio: 47.5%;
$dim-project-list-item-text-height: 190px;
$dim-project-list-item-banner-height: $dim-common-banner;

$dim-comment-author-image-size: 40px;

$dim-project-create-type-height: 154px;
$dim-project-create-image-width: 230px;
$dim-project-create-banner-height: $dim-common-banner;

$dim-profile-header-height: $dim-common-banner;
$dim-profile-data-height: 34px;


$dim-forum-header-height: $dim-common-banner;
