<!DOCTYPE html>

<div class="content-sidebar">
    <div class="about-container">
        <div class="about-header">
            About
        </div>
        <div class="about-content">

            <p>
                Our aim is to help you explore your world by joining and creating scientific missions. We have three
                types of mission on nQuire-it:
            </p>
            <ol type="A">
                <li>
                    <b>Win-it missions</b> set challenges with prizes for the winners. Each challenge needs a creative
                    response. Some missions involve science experiments, e.g., ‘Suggest an astronomy observation using
                    the Open University’s PIRATE remotely-controlled telescope”. Others tackle everyday problems, e.g.,
                    ‘Propose an imaginative way to attract bumblebees to gardens’.
                </li>
                <li>
                    <b>Sense-it missions</b> make use of the Sense-it mobile app to collect and share data using
                    smartphone sensors (e.g., accelerometer, gyroscope, light, sound). For example, ‘What is the fastest
                    lift?’. The Sense-it app can be found in Play Store
                    <a href="https://play.google.com/store/apps/details?id=org.greengin.sciencetoolkit"
                       target="_blank">here</a>.
                </li>
                <li>
                    <b>Spot-it missions</b> allow you to capture images and spot things around us, such as strange signs
                    and unusual uses of English.
                </li>

            </ol>
            <p>
                You can select any of these missions and start creating your own Win-it, Sense-it or Spot-it mission.
                Then Quire-it software is open source and anyone can join or create missions for free. You can invite
                other people to join your missions by using your Facebook, Twitter or Google accounts. The most
                successful missions will get the chance to win prizes such as money rewards, vouchers or even to have
                your observation made on the PIRATE telescope in Mallorca!
            </p>

            <p>
                The nQuire-it platform has been designed as part of the project
                <a href="http://nquire.wordpress.com/" target="_blank">nQuire: Young Citizen Inquiry</a> a research and
                development project funded by <a href="http://www.nominettrust.org.uk" target="_blank">Nominet Trust</a>
                and coordinated by <a href="http://iet.open.ac.uk" target="_blank">The Open University</a> in
                collaboration with the <a href="http://www.utcsheffield.org.uk" target="_blank">Sheffield UTC</a>.
            </p>

            <p>
                For more details on the nQuire-it project, please contact Professor Mike Sharples, The Open University,
                at <a href="mailto:mike.sharples@open.ac.uk" target="_blank">mike.sharples@open.ac.uk</a>.
            </p>


            <p>Please note that this site is currently under development, and its final appearance and part of its
                functionality
                is not ready yet.</p>

            <p class="about-logos">
                <a href="http://iet.open.ac.uk" target="_blank"><img src="media/about_ou.png"/></a>
                <a href="http://www.nominettrust.org.uk" target="_blank"><img src="media/about_nt.png"/></a>
                <a href="http://www.utcsheffield.org.uk" target="_blank"><img src="media/about_sutc.png"/></a>
            </p>


        </div>
    </div>
</div>


<div class="sidebar-right" data-ng-include="'partials/projects/projects-sidebar.html'"></div>
