@import "../variables/colors";
@import "text-basic";

@mixin pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@mixin text-subtitle {
  @include text-italic;
  font-size: 24px;
  margin-top: 10px;
  color: $color-dark-grey;
}

@mixin text-header-profile {
  @include text-italic;

  font-size: 14px;
  color: $color-dark-grey;
}


@mixin text-sidebar-teaser {
  @include text-regular;
  font-size: 12px;
  color: $color-light-grey;
}

@mixin text-sidebar-category {
  @include text-bold;

  font-size: 16px;
  color: $color-dark-grey;
}

@mixin text-sidebar-mission-type {
  @include text-black;

  font-size: 16px;
}

@mixin text-sidebar-normal {
  @include text-semibold;

  font-size: 14px;
  color: $color-dark-grey;
}

@mixin text-project-list-item-type {
  @include text-black;
  color: $color-medium-grey;
  font-size: 16px;
}

@mixin text-project-list-item-title {
  @include text-bold;
  font-size: 22px;
}

@mixin text-project-list-item-teaser {
  @include text-regular;
  color: $color-dark-grey;
  font-size: 14px;
}

@mixin text-project-list-item-author {
  @include text-italic;
  color: $color-dark-grey;
  font-size: 14px;
}

@mixin text-project-list-item-banner {
  @include text-regular;
  color: white;
  font-size: 14px;
  line-height: 24px;
}

@mixin text-project-list-item-banner-type {
  @include text-bold;
  color: white;
  font-size: 14px;
}

@mixin text-menu-item {
  @include text-regular;
  font-size: 14px;
  color: white;
}

@mixin text-menu-item-active {
  @include text-bold;
  font-size: 14px;
  color: white;
}

@mixin text-comment-list-header {
  @include text-black;
  font-size: 16px;
  color: $color-dark-grey;
}

@mixin text-comment-metadata {
  @include text-bold;
  font-size: 12px;
  color: $color-medium-grey;
}

@mixin text-comment-content {
  @include text-regular;
  font-size: 14px;
  color: $color-dark-grey;
}

@mixin text-project-title {
  @include text-black;
  font-size: 20px;
}

@mixin text-project-subtitle {
  @include text-black;
  font-size: 16px;
}

@mixin text-project-highlight {
  @include text-bold;
}

@mixin text-project-normal {
  @include text-regular;
  color: $color-dark-grey;
}

@mixin text-project-author {
  @include text-semibold;
}

@mixin text-project-create-type {
  @include text-black;
  font-size: 26px;
}

@mixin text-project-create-regular {
  @include text-regular;
  font-size: 14px;
}

@mixin text-profile-title {
  @include text-black;
  font-size: 20px;
  color: $color-orange;
}

@mixin text-profile-data-label {
  @include text-bold;
  font-size: 14px;
}

@mixin text-profile-data-value {
  @include text-regular;
  font-size: 14px;
}


