@import "../layout/profile";
@import "../text/text-styles";
@import "../variables/colors";


@mixin comment-bottom-border {
  padding-bottom: $dim-common-small-margin;
  margin-bottom: $dim-common-small-margin;
  border-bottom: solid $color-light-grey 1px;
}


.comment-list-header {
  @include text-comment-list-header;
  @include comment-bottom-border;

  color: $color-orange;
}

.comment-new {
  @include comment-bottom-border;
}

.comment {
  @include comment-bottom-border;

  .comment-metadata {

    position: relative;
    min-height: $dim-comment-author-image-size + $dim-common-small-margin;

    .comment-author-image {
      position: absolute;

      .profile-image {
        width: $dim-comment-author-image-size;
        height: $dim-comment-author-image-size;
        border-radius: $dim-comment-author-image-size / 2;
        border: solid $dim-profile-circle-border-width $color-orange;
      }
    }

    div.comment-metadata-text {
      @include text-comment-metadata;
      margin-left: $dim-comment-author-image-size + $dim-profile-image-margin;
    }
  }

  .comment-content {
    @include text-comment-content;
  }

  .comment-controls {
    margin-top: $dim-common-small-margin;
  }
}
