@import "../variables/dimensions";
@import "../text/text-styles";
@import "../ext/browser-support";


@mixin project-create-colors($type-color, $image) {

  position: relative;
  height: $dim-project-create-type-height;
  @include transition(height .25s);
  overflow: hidden;

  &.project-create-type-hidden {
    height: 0px;
    @include transition(height .25s);
  }

  margin-bottom: $dim-common-margin;

  .project-create-type-image {
    position: absolute;
    top: 0px;
    left: 0px;

    height: 100%;
    width: $dim-project-create-image-width;
    background: url($image) no-repeat center;
    cursor: pointer;
  }

  .project-create-type-info {
    background: $color-project-list-item-background;
    position: relative;
    @include text-project-create-regular;
    color: $color-dark-grey;
    height: 100%;
    margin-left: $dim-project-create-image-width;
    padding: 0px $dim-common-small-margin $dim-project-create-banner-height $dim-common-small-margin;

    .project-create-type-info-header {
      @include text-project-create-type;
      color: $type-color;
      cursor: pointer;
    }

    .project-create-type {
      color: $type-color;
      font-weight: bold;
    }

    .project-create-type-banner {
      position: absolute;
      height: $dim-project-create-banner-height;
      line-height: $dim-project-create-banner-height;
      color: white;
      background: $type-color;
      padding-left: $dim-common-small-margin;
      cursor: pointer;

      width: 100%;
      left: 0px;
      bottom: 0px;
    }
  }


}

.project-create-type-senseit {
  @include project-create-colors($color-mission-senseit, 'images/create-type-senseit.png');
}

.project-create-type-challenge {
  @include project-create-colors($color-mission-winit, 'images/create-type-winit.png');
}

.project-create-type-spotit {
  @include project-create-colors($color-mission-spotit, 'images/create-type-spotit.png');
}

.project-create-form-container {
  text-align: center;
  margin-top: $dim-common-margin;

  .project-create-form-container-explanation {
    text-align: left;
    margin: $dim-common-margin 20%;
    color: $color-medium-grey;
  }
}


