@import "../layout/content-section";
@import "../layout/sidebar";
@import "../layout/image-crop";
@import "../layout/basic-header";

@import "challenge";

.project-main-container {

  .project-section {
    @extend .content-sidebar;
    @extend .container-fluid;

    .project-section-header {
      @include basic-header;

      @extend .row;
      margin: 0px;

      height: 26px;
      line-height: 26px;

      .project-menu-main {
        @extend .col-xs-4;
      }

      .project-menu-sub {
        @extend .col-xs-8;
      }

    }

    .project-section-content {
      @extend .row;
      margin: 0px;

      background: $color-project-list-item-background;

      .project-section-content-header {
        @include text-project-title;
        margin-top: $dim-common-small-margin;
      }

      .project-section-content-block-title {
        @include text-project-subtitle;
        margin-top: $dim-common-small-margin;

      }

      .project-section-content-block-content {
        @include text-project-normal;
        @include pre;
      }

      .project-section-content-column-add-block {
        margin-top: $dim-common-margin;
      }

      .project-section-description-column {
        @extend .col-xs-4;
        padding: 0px;

        .project-section-description-image {
          @include image-crop($dim-project-list-image-aspect-ratio);
        }

        .project-section-description-text-title {
          @include text-project-subtitle;
          padding-top: 5px;

          .project-section-description-text-mission {

          }
        }

        .project-section-description-text {
          @include text-project-normal;

          padding-left: $dim-common-small-margin;
        }

        .project-section-description-text-author {
          position: relative;
          height: $dim-profile-image-size;
          vertical-align: bottom;
          span.project-section-description-text-author-image {
            position: absolute;
          }
          div.project-section-description-text-author-name {
            @include text-project-author;
            position: relative;
            height: 100%;
            margin-left: $dim-profile-image-size + $dim-profile-image-margin;
            div {
              position: absolute;
              bottom: 0px;
            }
          }
        }

        .project-section-description-join-leave {
          padding: $dim-common-small-margin 5px;

          button.project-join-button {
            color: white;
          }
        }
      }

      .project-section-content-column {
        @extend .col-xs-8;
      }

      .project-section-content-fill {
        padding: 0px $dim-common-small-margin 0px $dim-common-margin;
      }
    }
  }

  .project-comments-section {
    @extend .sidebar-right;
    min-height: 100%;
  }

}

@mixin project-type($type-color) {
  .project-section-header {
    background: $type-color;
  }

  .project-section-content-header,
  .project-section-content-block-title,
  .project-section-description-text-mission {
    color: $type-color;
  }

  .project-section-description-join-leave {
    button.project-join-button {
      background: $type-color;
    }
  }
}

.project-main-container.project-type-senseit {
  @include project-type($color-mission-senseit);
}

.project-main-container.project-type-spotit {
  @include project-type($color-mission-spotit);
}

.project-main-container.project-type-challenge {
  @include project-type($color-mission-winit);
}
