<!DOCTYPE html>


<div class="header">
    <h1>Create new project</h1>
</div>
<div class="content">
    <p>You can create your own projects in this page, and make them available so that other users can join and
        contribute.</p>

    <p>Please note that in order to protect the users of this website, projects with offensive content will be removed;
        their creators may be banned from the site. </p>

    <p>All projects need to be reviewed by an admin before they are made public. Therefore, it may take some time for
        your project to be public. </p>

    <div data-ng-if="openIdService.status.logged">
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <label for="iunderstand">
                    <input id="iunderstand" type="checkbox" data-ng-model="iunderstand"> I understand the rules.
                </label>
            </fieldset>

            <fieldset data-ng-if="iunderstand">

                <label for="type">Project type</label>
                <select id="type" data-ng-model="form.values.type">
                    <option value="">Select project type</option>
                    <option value="senseit">Sense-it project</option>
                    <option value="challenge">Challenge project</option>
                    <option value="ispot">iSpot project</option>
                </select>

                <div data-ng-if="form.values.type">
                    <label for="title">Project title</label>
                    <input id="title" type="text" placeholder="Title" data-ng-model="form.values.title">

                    <label for="description">Project description</label>
                    <textarea id="description" placeholder="description"
                              data-ng-model="form.values.description"></textarea>

                    <button class="pure-button pure-button-primary" data-ng-disabled="form.okButtonDisabled()"
                            data-ng-click="form.save()">Create project
                    </button>
                    <button class="pure-button pure-button-primary" data-ng-disabled="form.resetButtonDisabled()"
                            data-ng-click="form.reset()">Reset
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    <div data-ng-if="!openIdService.status.logged">
        <p>Sorry, you need to <a data-ui-sref="profile">login</a> before you can start creating projects.</p>
    </div>


</div>
