<span data-ng-class="originalClass()">{{original}}</span>

<span data-ng-if="originalModified">
    <button data-ng-click="actions.cancel()">
        {{hasOriginal ? 'Cancel (keep current file)' : 'Cancel'}}
    </button>
</span>

<span data-ng-if="!originalModified && hasOriginal">
    <button data-ng-click="actions.deleteFile()">
        Delete file
    </button>
</span>

<input id="description-simple-background" type="file"
       onchange="angular.element(this).scope().fileChosen(this.files[0])"/>


