<!DOCTYPE html>


<div class="header">
    <h1>My profile</h1>
</div>
<div class="content">

    <div data-ng-if="!status.logged">
        <button class="pure-button pure-button-primary"
                data-ng-click="login('google')">Log in with Google
        </button>
        <button class="pure-button pure-button-primary"
                data-ng-click="login('facebook')">Log in with Facebook
        </button>
    </div>

    <div data-ng-if="status.logged">
        <div data-ng-if="status.ready">
            <p>
                <button class="pure-button pure-button-primary pure-button-small"
                        data-ng-click="logout()">Logout
                </button>
            </p>

            <div data-ng-if="form.isOpen()">
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <label for="username">User name</label> <input id="username" type="text"
                                                                       placeholder="User name"
                                                                       data-ng-model="form.values.username">
                        <span data-ng-if="formError" class="profile-username-error">{{formErrorText()}}</span>

                        <button class="pure-button pure-button-primary pure-button-small"
                                data-ng-disabled="form.okButtonDisabled()" data-ng-click="form.save()">
                            Save
                        </button>
                        <button class="pure-button pure-button-primary pure-button-small"
                                data-ng-disabled="form.resetButtonDisabled()"
                                data-ng-click="form.cancel()">Cancel
                        </button>
                    </fieldset>
                </form>
            </div>
            <div data-ng-if="!form.isOpen()">
                <p>Username:
                    <span>{{status.profile.username}}</span>
                    <button class="pure-button pure-button-primary pure-button-xsmall"
                            data-ng-click="form.open()">Edit
                    </button>
                </p>
            </div>

            <div data-ng-if="password.editing">
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <div data-ng-if="password.set()">
                            <label for="oldpassword">Previous password:</label>
                            <input id="oldpassword" type="password"
                                   data-ng-model="password.editing.oldPassword" />
                            <span data-ng-if="password.error.oldPassword" class="profile-oldpassword-error">{{password.error.oldPassword}}</span>
                        </div>

                        <label for="newpassword">New password:</label>
                        <input id="newpassword" type="password"
                               data-ng-model="password.editing.newPassword" />
                        <span data-ng-if="password.error.newPassword" class="profile-newpassword-error">{{password.error.newPassword}}</span>

                        <label for="repeatpassword">Repeat new password:</label>
                        <input id="repeatpassword" type="password"
                               data-ng-model="password.editing.repeatPassword" />
                        <span data-ng-if="password.error.repeatPassword" class="profile-newpassword-error">{{password.error.repeatPassword}}</span>

                        <button class="pure-button pure-button-primary pure-button-small" data-ng-click="password.save()">
                            {{password.set() ? 'Change password' : 'Set password'}}
                        </button>
                        <button class="pure-button pure-button-primary pure-button-small" data-ng-click="password.cancel()">
                            Cancel
                        </button>
                    </fieldset>
                </form>
            </div>

            <p>Password set: <span>{{password.set() ? 'Yes' : 'No'}}</span>
                <button class="pure-button pure-button-primary pure-button-xsmall" data-ng-click="password.edit()">
                    {{password.set() ? 'Change password' : 'Set password'}}
                </button>
            </p>


            <p>Identity providers:</p>
            <ul>
                <li data-siw-profile-provider-item
                    data-ng-attr-provider="google"></li>
                <li data-siw-profile-provider-item
                    data-ng-attr-provider="facebook"></li>
            </ul>
        </div>
    </div>
</div>
