<!DOCTYPE html>


<div class="header">
    <h1>My profile</h1>
</div>
<div class="content">

    <div data-ng-if="!status.logged">
        <button class="pure-button pure-button-primary"
                data-ng-click="login('google')">Log in with Google
        </button>
        <button class="pure-button pure-button-primary"
                data-ng-click="login('facebook')">Log in with Facebook
        </button>
    </div>

    <div data-ng-if="status.logged">
        <div data-ng-if="status.ready">
            <p>
                You have logged in with the email: {{status.email}}
                <button class="pure-button pure-button-primary pure-button-small"
                        data-ng-click="logout()">Logout
                </button>
            </p>

            <div data-ng-if="form.isOpen()">
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <label for="username">User name</label> <input id="username" type="text"
                                                                   placeholder="User name"
                                                                   data-ng-model="form.values.username">
                        <span data-ng-if="formError" class="profile-username-error">{{formErrorText()}}</span>

                        <button class="pure-button pure-button-primary pure-button-small"
                                data-ng-disabled="form.okButtonDisabled()" data-ng-click="form.save()">
                            Save
                        </button>
                        <button class="pure-button pure-button-primary pure-button-small"
                                data-ng-disabled="form.resetButtonDisabled()"
                                data-ng-click="form.cancel()">Cancel
                        </button>
                    </fieldset>
                </form>
            </div>
            <div data-ng-if="!form.isOpen()">
                <p>Name: <span>{{status.profile.username}}</span></p>

                <button class="pure-button pure-button-primary pure-button-small"
                        data-ng-click="form.open()">Edit
                </button>
            </div>
        </div>
    </div>
</div>
