<!DOCTYPE html>

<div data-ng-controller="ProjectEditMenuCtrl">
    <div data-ng-if="status.logged && !project.open && access.admin">
        <div class="pure-menu pure-menu-open pure-menu-horizontal" data-ng-controller="DataProjectMenuCtrl">
            <ul>
                <li data-ng-class="itemClass('project-edit.home')">
                    <a data-ui-sref="project-edit.home">Description</a>
                </li>
                <li data-ng-if="type('senseit')" data-ng-class="itemClass('project-edit.senseit')">
                    <a data-ui-sref="project-edit.senseit">Sense-it configuration</a>
                </li>
                <li data-ng-if="type('challenge')" data-ng-class="itemClass('project-edit.challenge')">
                    <a data-ui-sref="project-edit.challenge">Challenge configuration</a>
                </li>
            </ul>
        </div>
    </div>
</div>