<!DOCTYPE html>


<div data-ng-if="form.isOpen()">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <select id="sensor" data-ng-model="form.values.sensor">
                <option value="">Sensor type</option>
                <option value="acc">Accelerometer</option>
                <option value="snd">Sound</option>
            </select>

            <label for="rate">Sampling rate (samples/second)</label>
            <input id="rate" type="number" step="any" placeholder="Sampling rate" data-ng-model="form.values.rate">
            <button class="pure-button pure-button-primary pure-button-small" data-ng-disabled="form.okButtonDisabled()"
                    data-ng-click="form.save()">
                Save
            </button>
            <button class="pure-button pure-button-primary pure-button-small" data-ng-disabled="form.resetButtonDisabled()"
                    data-ng-click="form.cancel()">
                Cancel
            </button>
        </fieldset>
    </form>
</div>
<div data-ng-if="!form.isOpen()">
    <p>Sensor: {{sensorInput.sensor}}</p>
    <p>Sampling rate: {{sensorInput.rate}} samples/second</p>
    <button class="pure-button pure-button-primary pure-button-small" data-ng-click="form.open()">Edit</button>
    <button class="pure-button pure-button-primary pure-button-small" data-ng-click="deleteInput()">Delete sensor input</button>
</div>

