<!DOCTYPE html>


<div data-ng-if="form.isOpen()">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <label for="geolocated">Geolocated data:
                <input id="geolocated" type="checkbox" placeholder="Title" data-ng-model="form.values.geolocated">
            </label>

            <button class="pure-button pure-button-primary pure-button-small" data-ng-disabled="form.okButtonDisabled()"
                    data-ng-click="form.save()">
                Save
            </button>
            <button class="pure-button pure-button-primary pure-button-small"
                    data-ng-disabled="form.resetButtonDisabled()"
                    data-ng-click="form.cancel()">
                Cancel
            </button>
        </fieldset>
    </form>
</div>
<div data-ng-if="!form.isOpen()">
    <p>Geolocated data: {{activity.profile.geolocated ? 'Yes' : 'No'}}</p>
    <button class="pure-button pure-button-primary pure-button-small" data-ng-click="form.open()">Edit</button>
</div>


<ul>
    <li data-ng-repeat="sensorInput in activity.profile.sensorInputs">
        <div data-ng-include="'partials/project-edit-senseit-sensor.html'"
             data-ng-controller="ProjectEditSenseItSensorCtrl"></div>
    </li>
</ul>
<div data-ng-include="'partials/project-edit-senseit-newsensor.html'"
     data-ng-controller="ProjectEditSenseItSensorCtrl"></div>



<div data-ng-include="'partials/project-edit-senseit-analysis.html'"
     data-ng-controller="ProjectEditSenseItAnalysisCtrl"></div>
