<!DOCTYPE html>

<div data-ng-if="status.logged && project.open && access.member">
    <div class="pure-menu pure-menu-open pure-menu-horizontal" data-ng-controller="DataProjectMenuCtrl">
        <ul>
            <li data-ng-class="itemClass('project-view.home')">
                <a data-ui-sref="project-view.home">Description</a>
            </li>
            <li data-ng-class="itemClass('project-view.challenge')">
                <a data-ui-sref="project-view.challenge">Answers</a>
            </li>
        </ul>
    </div>
</div>

<div data-ui-view></div>