@import "basic-header";
@import "../variables/dimensions";
@import "../variables/colors";

.admin-page {
  padding: 0 $dim-common-margin;

  .admin-header {
    @include basic-header;
  }

  .admin-content {
    padding: $dim-common-small-margin;
    background: $color-light-background;
  }

  .admin-reported {
    .admin-reported-menu {
      margin-bottom: 20px;

      > div {

        display: inline-block;
        margin-right: 20px;

        a.selected {
          font-weight: bold;
          color: gray;
        }
      }
    }
  }
}
