@import "../variables/dimensions";
@import "../variables/colors";
@import "../text/text-styles";
@import "../ext/browser-support";

@mixin basic-header {
  height: $dim-common-banner;
  line-height: $dim-common-banner;
  color: white;
  background: $color-dark-grey;
  padding-left: $dim-common-small-margin;

  .arrow {
    color: #aaaaaa;
  }

  a {
    color: $color-dark-background-link;
  }

  .menu-item {
    line-height: $dim-forum-header-height;

    @include text-menu-item;
    margin-right: 20px;
    padding-bottom: 1px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0);

    &.active {
      @include text-menu-item-active;
      border-bottom-color: rgba(255, 255, 255, 1);
    }
  }
}


