@import "../variables/dimensions";
@import "../variables/colors";

.content-no-sidebar {
  margin: 0;
}

.content-sidebar {
  @extend .container-fluid;

  margin: 0;

  @media (min-width: $screen-md-min) {
    margin: 0 $dim-common-right-panel-container-width 0 0;
    padding: 0 $dim-common-small-margin $dim-common-margin $dim-common-margin;
  }
}