@import "../variables/dimensions";
@import "../variables/colors";


.content-no-sidebar {
  margin: 0px;
}

.content-sidebar {
  @extend .container-fluid;

  margin: 0px $dim-common-right-panel-container-width 0px 0px;
  padding: 0px $dim-common-small-margin $dim-common-margin $dim-common-margin;
}