@import "../variables/dimensions";

html, body, #main {
  height: 100%;
}

html {
  overflow-y: scroll;
}


#main {
  position: relative;
  .main-content-section {

    .main-content {
      height: 100%;
      background: white;
      @extend .container;
      padding: $dim-common-margin 0 0 0;
      position: relative;
    }
  }

}