@import "../variables/dimensions";
@import "../variables/colors";
@import "image-crop";
@import "../text/text-styles";

.project-item {
  margin-bottom: 30px;
  position: relative;

  .project-item-image-container {
    @include image-crop($dim-project-list-image-aspect-ratio);
    cursor: pointer;
  }

  .project-item-metadata {
    font-size: .8em;
    margin-right: 1em;
    i {
      margin-right: .5em;
    }
  }

  .project-item-text-container {
    position: relative;
    height: $dim-project-list-item-text-height;
    background: $color-light-background;

    padding: 0px $dim-common-small-margin;

    .project-item-type {
      @include text-project-list-item-type;
      margin-bottom: $dim-common-small-margin;
      text-align: center;
    }

    .project-item-title {
      text-align: center;
      a {
        @include text-project-list-item-title;
      }
    }

    .project-item-teaser {
      @include text-project-list-item-teaser;
    }

    .project-item-author {
      position: absolute;
      width: 100%;
      bottom: 0px;
      @include text-project-list-item-author;
    }
  }

  .project-item-banner {
    text-align: center;
    height: $dim-project-list-item-banner-height;
    line-height: $dim-project-list-item-banner-height;

    a {
      @include text-project-list-item-banner;

      .project-item-banner-type {
        @include text-project-list-item-banner-type;
      }
    }
  }

}

@mixin project-item-type-variation($color) {
  .project-item-title a {
    color: $color;
  }
  .project-item-banner {
    background: $color;
  }
}

.project-item.project-type-senseit {
  @include project-item-type-variation($color-mission-senseit);
}

.project-item.project-type-challenge {
  @include project-item-type-variation($color-mission-winit);
}

.project-item.project-type-spotit {
  @include project-item-type-variation($color-mission-spotit);
}
