@import "../variables/colors";
@import "../variables/dimensions";
@import "../text/text-styles";

.sidebar-right {
  position: absolute;
  top: $dim-common-margin;
  right: 0;
  transition: width 250ms;
  width: 0;
  font-size: 12px;

  .sidebar-content {
    width: 100%;
    background: white;
    min-height: 100%;
    overflow: hidden;

    > div {
      top: 0;
      left: 0;
      width: $dim-common-right-panel-container-width;
      min-height: 100%;
      padding: 0 $dim-common-small-margin $dim-common-margin $dim-common-small-margin;
      border-left: solid $color-orange $dim-right-menu-separator-line-width;
    }
  }

  @media (min-width: $screen-md-min) {
    width: $dim-common-right-panel-container-width;
    transition: width 0ms;
  }

  .sidebar-toggle {
    $size: 3 * $dim-common-margin;
    width: $size;
    padding: $dim-common-small-margin 0;

    color: white;
    background: $color-medium-grey;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    position: absolute;
    left: -$size;
    top: -6px;

    .fa-angle-right {
      display: none;
    }
    .fa-angle-left {
      display: block;
    }
  }

  &.sidebar-open {
    width: $dim-common-right-panel-container-width;
    .sidebar-toggle {
      .fa-angle-right {
        display: block;
      }
      .fa-angle-left {
        display: none;
      }
    }
  }

  @media (min-width: $screen-md-min) {
    right: 0;
    .sidebar-toggle {
      display: none;
    }
  }

  .sidebar-teaser {
    @include text-sidebar-teaser;
    margin: $dim-common-small-margin 0;
  }

  .sidebar-header {
    @include text-sidebar-category;
  }

  .sidebar-menu {

    li {
      padding: 0 4px;

      a {
        padding: 0 4px;
        border: 1px solid transparent;

        &.selected {
          border: 1px solid $color-light-grey;
          border-radius: 10px;
          background: $color-light-background;
        }
      }
    }
  }

  ul {
    list-style-image: url(images/bullet.png);
    > li {
      padding: 0 4px;

      @include text-sidebar-normal;
      margin-left: -1.5em;

      .sidebar-type-senseit {
        @include text-sidebar-mission-type;
        color: $color-mission-senseit;
      }
      .sidebar-type-spotit {
        @include text-sidebar-mission-type;
        color: $color-mission-spotit;
      }
      .sidebar-type-winit {
        @include text-sidebar-mission-type;
        color: $color-mission-winit;
      }
    }
  }

  .sidebar-feed {
    li {
      .feed-comment {
        font-weight: bold;
        color: grey;
      }
    }
  }
}
