@import "../variables/colors";
@import "../variables/dimensions";
@import "../text/text-styles";

.sidebar-right {
  position: absolute;
  width: $dim-common-right-panel-container-width;
  min-height: 100%;

  top: $dim-common-margin;
  right: 0px;

  padding: 0px $dim-common-small-margin $dim-common-margin $dim-common-small-margin;
  border-left: solid $color-orange $dim-right-menu-separator-line-width;

  .sidebar-teaser {
    @include text-sidebar-teaser;
    margin: $dim-common-small-margin 0;
  }

  .sidebar-header {
    @include text-sidebar-category;
  }

  .sidebar-menu {

    li {
      padding: 2px 4px;

      a {
        padding: 2px 4px;
        border: 1px solid transparent;

        &.selected {
          border: 1px solid $color-light-grey;
          border-radius: 10px;
          background: $color-light-background;
        }
      }
    }
  }

  ul {
    list-style-image: url(images/bullet.png);
    > li {

      @include text-sidebar-normal;
      margin-left: -1.5em;

      .sidebar-type-senseit {
        @include text-sidebar-mission-type;
        color: $color-mission-senseit;
      }
      .sidebar-type-spotit {
        @include text-sidebar-mission-type;
        color: $color-mission-spotit;
      }
      .sidebar-type-winit {
        @include text-sidebar-mission-type;
        color: $color-mission-winit;
      }
    }
  }

  .sidebar-feed {
    li {
      margin-bottom: $dim-common-small-margin;
      .feed-comment {
        font-weight: bold;
        color: grey;
      }
    }
  }

}