@import "../variables/dimensions";

.sortable-table {

  th {
    cursor: pointer;

    &.ascending:after {
      content: ' ▴';
    }
    &.descending:after {
      content: ' ▾';
    }
  }
}

.sortable-menu {
  margin-top: $dim-common-small-margin;
  a {
    margin-left: $dim-common-margin;

    &.ascending,
    &.descending {
      font-weight: bold;
    }

    &.ascending:after {
      content: ' ▴';
    }
    &.descending:after {
      content: ' ▾';
    }
  }

}