
.vote-widget {
  white-space: nowrap;

  i.vote-icon {
    margin: 0 .25em;
    padding: .25em;
    border-radius: .25em;
  }

  i.vote-icon.enabled {
    cursor: pointer;
  }

  i.vote-icon {
    color: #666;
    background: transparent;
  }

  i.vote-icon.selected {
    background: #519251;
    color: white;
  }

  i.vote-icon.not-selected {
    color: #aaa;
  }

  i.vote-icon.enabled:hover {
    background: #519251;
    color: #aaa;
  }
}


