
.vote-widget {
  white-space: nowrap;

  i.vote-icon {
    margin: 0 .25em;
    padding: .25em;
    border-radius: .25em;
    color: #666;
    background: transparent;

    &.report-icon {
      padding: .25em .4em;
    }

    &.enabled {
      cursor: pointer;

      &:hover {
        color: #aaa;
        background: #519251;
        &.report-icon {
          background: #b23131;
        }
      }
    }

    &.selected {
      color: white;

      background: #519251;
      &.report-icon {
        background: #b23131;
      }
    }

    &.not-selected {
      color: #aaa;
    }
  }
}
