<p class="project-section-content-header">Mission status</p>

<div data-ng-switch="projectData.project.activity.stage">
    <div data-ng-switch-when="proposal">
        <p>This mission is accepting submissions now!</p>

        <div data-ng-if="status.logged">
            <div data-ng-if="projectData.access.member">
                <p>You have created <b><span ng-pluralize count="answerData.answers.length"
                                             when="{
                                  '0': 'no submission yet',
                                   '1': '1 submission',
                                   'other': '{{answerData.answers.length}} submissions'}"></span></b>.</p>

                <p>Go to <a href data-ui-sref="project.view.challenge">your submissions</a>.</p>
            </div>
            <div data-ng-if="!projectData.access.member">
                <p>You need to join this project to post submissions.</p>
            </div>
        </div>
        <div data-ng-if="!status.logged">
            <p>You need to <a href data-ui-sref="profile">sign in</a> or register to post submissions.</p>
        </div>
    </div>
    <div data-ng-switch-when="voting">
        <p>This mission is now voting the submissions!</p>

        <div data-ng-if="status.logged">
            <div data-ng-if="projectData.access.member">
                <p><span ng-pluralize count="answerData.answers.length"
                         when="{'1': '1 submission','other': '{{answerData.answers.length}} submissions'}"></span>
                    have been posted in this mission.</p>

                <p>Click <a href data-ui-sref="project.view.challenge">here</a> to vote your favourite!</p>
            </div>
            <div data-ng-if="!projectData.access.member">
                <p>You need to join this project to vote submissions.</p>
            </div>
        </div>
        <div data-ng-if="!status.logged">
            <p>You need to <a href data-ui-sref="profile">sign in</a> or register to vote submissions.</p>
        </div>
    </div>
    <div data-ng-switch-when="outcome">
        <div data-ng-controller="ProjectViewChallengeOutcomeCtrl">
            <div data-ng-if="outcomeReady">
                <div data-ng-if="outcome.selectedAnswer">
                    <p>This mission has now a winner!</p>

                    <div data-ng-include="'partials/project/view/challenge/project-view-challenge-answers-item-display.html'"></div>
                </div>
                <div data-ng-if="!outcome.selectedAnswer">
                    <p>This mission is waiting for the winner decision!</p>
                </div>

                <p>See <a href data-ui-sref="project.view.challenge">all submissions</a>!</p>
            </div>
        </div>
    </div>
</div>
