<tr class="forum-list-category">
    <td colspan="4">
        <div data-ng-if="!form.isOpen()">
            <div data-ng-if="!isNew">
                <b>{{category.title}}</b>
                <span data-ng-if="adminAccess()" class="btn-group">
                    <button class="btn btn-default btn-xs" data-ng-click="form.open()">Edit</button>
                </span>
                <br/>
                {{category.description}}
            </div>
            <div data-ng-if="isNew">
                <button class="btn btn-default" data-ng-click="form.open()">Add category</button>
            </div>

            <p data-ng-if="adminAccess()">

            </p>
        </div>

        <div data-ng-if="form.isOpen()">
            <form role="form" class="form">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input id="title" class="form-control" data-ng-model="form.values.title" placeholder="Title"/>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" class="form-control" data-ng-model="form.values.description"
                              placeholder="Description"></textarea>
                </div>
                <div class="btn-group">
                    <button class="btn btn-default" data-ng-click="form.save()">Save</button>
                    <button class="btn btn-default" data-ng-click="form.cancel()">Cancel</button>
                </div>
            </form>
        </div>


    </td>
</tr>

<tr data-ng-if="!isNew && adminAccess()" class="forum-list-forum" data-ng-include="'partials/forum/forum-list-forum.html'"
    data-ng-controller="ForumListForumCtrl"></tr>

<tr data-ng-if="!isNew" class="forum-list-forum" data-ng-repeat="forumNode in category.children"
    data-ng-include="'partials/forum/forum-list-forum.html'" data-ng-controller="ForumListForumCtrl"></tr>
