<iframe width="210" height="118" src="//www.youtube.com/embed/w1M9xtkhYEQ" frameborder="0" allowfullscreen></iframe>

<div class="sidebar-header">
    Explore all missions
</div>
<ul>
    <li><span class="sidebar-type-senseit">Sense-it</span> missions</li>
    <li><span class="sidebar-type-spotit">Spot-it</span> missions</li>
    <li><span class="sidebar-type-winit">Win-it</span> missions</li>
</ul>

<div class="sidebar-header">
    Features
</div>
<ul>
    <li>New missions</li>
    <li>Most popular missions</li>
    <li>Missions ending soon</li>
    <li>Mission prizes</li>
</ul>

<div class="sidebar-header">
    Missions by subject
</div>
<ul>
    <li>Cars</li>
    <li>Lifts</li>
    <li>Bees</li>
    <li>Birds</li>
    <li>Robots</li>
</ul>