<div class="container-fluid" data-siw-sortable-table-widget data-sort-column="date" data-table-data="dataList">
    <div class="row">
        <div data-ng-repeat="item in sortedData.data"
             class="col-xs-6 col-sm-4 col-md-3">
            <div class="spotit-observation">
                <img data-ng-click="goToItem($index)" src="" data-ng-src="{{item.observation | uploadedThumb }}"/>
            </div>
            <div class="spotit-observation-metadata">
                <b>{{item.title}}</b>

                <div>{{item.author.username}}</div>
                <div>{{item.date | fuzzyDate}}</div>
                <div data-siw-vote-widget data-vote-manager="dataVoteManager" data-vote-target="item"></div>
                <div ng-pluralize count="item.commentCount" when="{'1': '1 comment','other': '{} comments'}"></div>
            </div>
        </div>
    </div>
</div>