
<div class="container" data-siw-sortable-table-widget data-table-data="dataList">
    <div class="row">
        <div  data-ng-repeat="item in sortedItems()"
                class="col-xs-12 col-sm-6">
            <div class="spotit-observation">
                <img src data-ng-src="{{item.observation | uploadedImage }}" />
                <div>
                    <div class="spotit-observation-metadata">
                        <b>{{item.title}}</b>
                        <div data-siw-vote-widget data-vote-manager="dataVoteManager" data-vote-target="item"></div>
                        <div data-ng-if="item.author.id == status.profile.id" class="btn-group">
                            <button class="btn btn-default">
                                Edit
                            </button>
                            <button class="btn btn-default" data-ng-click="deleteData(item)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>