<!DOCTYPE html>

<div data-ng-if="status.logged">
    <div data-ng-if="projectData.project.open">

        <p>
            <button data-ng-if="!projectData.access.member" class="pure-button pure-button-primary"
                    data-ng-click="joinProject()">Join project
            </button>
            <button data-ng-if="projectData.access.member" class="pure-button pure-button-primary"
                    data-ng-click="leaveProject()">Leave project
            </button>
        </p>

        <div data-ng-include="'partials/project/metadata/project-metadata.html'"></div>



        <div data-ng-if="projectData.project.description.html">
            <p data-ng-bind-html="projectData.project.description.description"></p>
        </div>
        <div data-ng-if="!projectData.project.description.html">
            <p style="white-space: pre;">{{project.description.description}}</p>
        </div>


    </div>

    <div data-ng-if="!projectData.project.open">
        <p>This project is still being edited by its author.</p>
    </div>

</div>
<div data-ng-if="!status.logged">
    <a data-ui-sref="profile">Login</a> to participate in this project.
</div>

<div data-siw-project-description></div>

<div data-ng-include="templates.home"></div>
