<!DOCTYPE html>


<div class="header">
    <div ng-if="newUser()">
        <h1>Welcome to Sense-it</h1>
    </div>
    <div ng-if="!newUser()">
        <h1>My profile</h1>
    </div>
</div>
<div class="content">

    <div ng-if="newUser()">
        <p>Here you can edit your newly created profile.</p>
    </div>

    <div ng-if="status.ready">
        <div ng-if="status.logged">
            <p>You have logged in with the email: {{status.email}}
                <button class="pure-button pure-button-primary pure-button-small" ng-click="logout()">
                    Logout
                </button>
            </p>

            <div ng-if="form.isOpen()">
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <label for="name">User name</label>
                        <input id="name" type="text" placeholder="User name" ng-model="form.values.name">

                        <button class="pure-button pure-button-primary pure-button-small"
                                ng-disabled="form.okButtonDisabled()"
                                ng-click="form.save()">
                            Save
                        </button>
                        <button class="pure-button pure-button-primary pure-button-small"
                                ng-disabled="form.resetButtonDisabled()"
                                ng-click="form.cancel()">
                            Cancel
                        </button>
                    </fieldset>
                </form>
            </div>
            <div ng-if="!form.isOpen()">
                <p>Name: {{status.profile.name}}</p>

                <button class="pure-button pure-button-primary pure-button-small" ng-click="form.open()">Edit</button>
            </div>

        </div>

    </div>
</div>
