<!DOCTYPE html>


<h2 class="content-subhead">Challenge project configuration</h2>

<p>Challenge projects define the fields that users have to complete to prepare their proposal.</p>

<ul>
    <li ng-repeat="field in activity.fields">
        <div ng-include="'html/partials/project-edit-challenge-field.html'" ng-controller="ProjectEditChallengeFieldCtrl"></div>
    </li>
</ul>

<div ng-include="'html/partials/project-edit-challenge-newfield.html'" ng-controller="ProjectEditChallengeFieldCtrl"></div>


