<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href="#">sense-it</a>

    <ul>
        <li ng-class="{'pure-menu-selected': active('home')}"><a href ng-click="open('home')">Home</a></li>
        <li ng-class="{'pure-menu-selected': active('projects')}"><a href ng-click="open('projects')">Projects</a></li>
        <li ng-class="{'pure-menu-selected': active('create')}"><a href ng-click="open('create')">Create</a></li>
        <li class="menu-item-divided" ng-class="{'pure-menu-selected': active('profile')}">
            <div ng-include="'html/partials/login-menu-item.html'" ng-controller="LoginCtrl"></div>
        </li>
    </ul>
</div>
