<!DOCTYPE html>

<div class="pure-menu pure-menu-open pure-menu-horizontal" data-ng-controller="DataProjectMenuCtrl">
    <ul>
        <li data-ng-class="itemClass('project-view.default')">
            <a data-ui-sref="project-view.default">Description</a>
        </li>
        <li data-ng-class="itemClass('project-view.data-list')">
            <a data-ui-sref="project-view.data-list">Data</a>
        </li>
        <li data-ng-class="itemClass('project-view.analysis-list')">
            <a data-ui-sref="project-view.analysis-list">Analysis</a>
        </li>
    </ul>
</div>