<table data-siw-sortable-table-widget data-table-data="dataList" class="pure-table">
    <thead>
    <tr>
        <th>#</th>
        <th>Author</th>
        <th>Votes</th>
        <th data-ng-repeat="v in dataInfo.tableVariables">{{v.label()}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat-start="item in dataList.items">
        <td>{{item.title}}</td>
        <td>{{item.author.name}}</td>
        <td>
            <div data-siw-vote-widget data-vote-manager="dataVoteManager" data-vote-target="item"></div>
        </td>
        <td data-ng-repeat="v in dataInfo.tableVariables">
            {{dataInfo.tableValue(item, v)}}
        </td>
        <td>
            <button data-ng-if="item.author.id == status.profile.id" data-ng-click="plots.togglePlot(item)"
                    class="pure-button pure-button-primary pure-button-xsmall">
                {{plots.plotOpen(item) ? 'Close plot' : 'Open plot'}}
            </button>
            <button data-ng-if="item.author.id == status.profile.id" data-ng-click="deleteData(item)"
                    class="pure-button pure-button-primary pure-button-xsmall">Delete
            </button>
        </td>
    </tr>
    <tr data-ng-repeat-end data-ng-if="plots.plotOpen(item)">
        <td colspan="{{4 + dataInfo.tableVariables.length}}">
            <img data-ng-repeat="v in dataInfo.plotVariables"
                 data-ng-src="{{plots.url(item, v)}}"/>
        </td>
    </tr>

    </tbody>

</table>

<div data-ng-controller="ProjectViewSenseItTestUpload">
    <p>{{title}}</p>

    <p>{{file}}</p>

    <form class="pure-form">
        <fieldset>
            <label for="title">Select a file</label><br/>
            <input type="text" data-ng-model="title" id="title"/>
            <label for="fileToUpload">Select a file</label><br/>
            <input type="file" data-ng-model="file" id="fileToUpload"
                   onchange="angular.element(this).scope().setFile(this)"/>
        </fieldset>
        <button class="pure-button pure-button-primary" data-ng-click="uploadFile()">Upload</button>
    </form>
</div>

