<!DOCTYPE html>

<div data-ng-if="projectServiceData.ready">
    <div class="header">
        <h1>{{project.title}}</h1>
    </div>
    <div class="content">
        <h2 class="content-subhead">Project description</h2>

        <p>{{project.description}}</p>

        <div data-ng-if="access.member">
            <button class="pure-button pure-button-primary" data-ng-click="leaveProject()">Leave</button>
        </div>
        <div data-ng-if="!access.member">
            <button class="pure-button pure-button-primary" data-ng-click="joinProject()">Join</button>
        </div>

        <div data-ng-if="access.admin">
            <button class="pure-button pure-button-primary" data-ui-sref="project-edit({projectId: project.id})">
                Edit
            </button>
        </div>
    </div>

</div>
<div data-ng-if="!projectServiceData.ready">
    <div class="header">
        <div class="throbber"></div>
        <h2>Loading...</h2>
    </div>
</div>