<!DOCTYPE html>

<div data-ng-controller="ProjectViewDataCtrl">
    <div data-ng-controller="ProjectViewSenseItCtrl">


        <div data-ng-if="status.logged && project.open && access.member">
            <div class="pure-menu pure-menu-open pure-menu-horizontal" data-ng-controller="DataProjectMenuCtrl">
                <ul>
                    <li data-ng-class="itemClass('project-view.home')">
                        <a data-ui-sref="project-view.home">Description</a>
                    </li>
                    <li data-ng-class="itemClass('project-view.data-list')">
                        <a data-ui-sref="project-view.data-list">Data</a>
                    </li>
                    <li data-ng-class="itemClass('project-view.analysis-list')">
                        <a data-ui-sref="project-view.analysis-list">Analysis</a>
                    </li>
                    <li data-ng-if="project.activity.profile.geolocated" data-ng-class="itemClass('project-view.senseit-map')">
                        <a data-ui-sref="project-view.senseit-map">Map</a>
                    </li>
                </ul>
            </div>
        </div>


        <div data-ui-view></div>
    </div>
</div>