<!DOCTYPE html>


<ul>
    <li data-ng-repeat="answer in answers">
        <p>{{answerTeaser(answer)}}
            <button class="pure-button pure-button-primary pure-button-small"
                    data-ui-sref="project-view.challenge-answer({answerId: answer.id})">
                Open
            </button>
        </p>
    </li>
</ul>

<div data-ng-if="maxAnswersReached()">
    <p>You have created the maximum number of allowed answers: {{project.activity.maxAnswers}}.</p>
</div>
<div data-ng-if="!maxAnswersReached()">
    <p>You can create up to {{project.activity.maxAnswers}} answers.</p>
    <button class="pure-button pure-button-primary" data-ui-sref="project-view.challenge-new">
        Create new answer
    </button>
</div>

