<!DOCTYPE html>


<div ng-if="form.isOpen()">
    <form class="pure-form pure-form-stacked">
        <fieldset>
            <label for="label">Field label</label>
            <input id="label" type="text" placeholder="Label" ng-model="form.values.label">

            <select id="type" ng-model="form.values.type">
                <option value>Select field type</option>
                <option value="textfield">Text field</option>
                <option value="textarea">Text area</option>
            </select>

            <button class="pure-button pure-button-primary pure-button-small" ng-disabled="form.okButtonDisabled()"
                    ng-click="form.save()">
                Create
            </button>
            <button class="pure-button pure-button-primary pure-button-small" ng-disabled="form.resetButtonDisabled()"
                    ng-click="form.cancel()">
                Cancel
            </button>
        </fieldset>
    </form>
</div>
<div ng-if="!form.isOpen()">
    <button class="pure-button pure-button-primary pure-button-small" ng-click="form.open()">Add field</button>
</div>

