<!DOCTYPE html>

<h2 class="content-subhead">Challenge administration</h2>


<button class="pure-button"
        data-ng-class="stageButtonClass('proposal')"
        data-ng-click="setStage('proposal')">
    Proposal stage
</button>
<button class="pure-button"
        data-ng-class="stageButtonClass('voting')"
        data-ng-click="setStage('voting')">
    Voting stage
</button>
<button class="pure-button"
        data-ng-class="stageButtonClass('decision')"
        data-ng-click="setStage('decision')">
    Decision stage
</button>


<h2 class="content-subhead">Answer administration</h2>
<div data-ng-include="'html/partials/project-view-challenge-answers.html'"
     data-ng-controller="ProjectViewChallengeAnswersCtrl"></div>

<div data-ng-include="'partials/project-admin-users.html'" data-ng-controller="ProjectAdminUsersCtrl"></div>

