<!DOCTYPE html>

<div data-ng-if="projectServiceData.ready">
    <div class="header">
        <h1>{{project.title}}</h1>
    </div>
    <div class="content">
        <h2 class="content-subhead">Project description</h2>

        <p>{{project.description}}</p>

        <div data-ng-if="status.logged">
            <div data-ng-if="project.open">

            <div data-ng-if="!access.member">
                <button class="pure-button pure-button-primary" data-ng-click="joinProject()">Join project</button>
            </div>
            <div data-ng-if="access.member">
                <button class="pure-button pure-button-primary" data-ng-click="leaveProject()">Leave project</button>

                <div data-ng-switch="project.type">
                    <div data-ng-switch-when="challenge">
                        <div data-ng-include="'partials/project-view-challenge.html'"
                             data-ng-controller="ProjectViewChallengeCtrl"></div>
                    </div>
                </div>
            </div>
            </div>
            <div data-ng-if="!project.open">
                <p>This project is still being edited by its author.</p>
            </div>

        </div>
        <div data-ng-if="!status.logged">
            <a ui-sref="profile">Login</a> to participate in this project.
        </div>
    </div>

</div>
<div data-ng-if="!projectServiceData.ready">
    <div class="header">
        <div class="throbber"></div>
        <h2>Loading...</h2>
    </div>
</div>