<!DOCTYPE html>

<h2 class="content-subhead">My answers</h2>


<div data-ng-if="answersReady">
    <div data-ui-view></div>
</div>

<div data-ng-if="access.admin && project.open">
    <h2 class="content-subhead">Challenge administration</h2>


    <button class="pure-button"
            data-ng-class="stageButtonClass('proposal')"
            data-ng-click="setStage('proposal')">
        Proposal stage
    </button>
    <button class="pure-button"
            data-ng-class="stageButtonClass('voting')"
            data-ng-click="setStage('voting')">
        Voting stage
    </button>
    <button class="pure-button"
            data-ng-class="stageButtonClass('decision')"
            data-ng-click="setStage('decision')">
        Decision stage
    </button>

</div>
