<!DOCTYPE html>


<h2 class="content-subhead">Sense-it project configuration</h2>

<p>Sense-it projects define data logging profiles that can be used to record data using the
    <a href="https://play.google.com/store/apps/details?id=org.greengin.sciencetoolkit" target="_blank">Sense-it</a>
    Android app.</p>

<ul>
    <li ng-repeat="profile in activity.profiles">
        <div ng-include="'html/partials/project-edit-senseit-profile.html'" ng-controller="ProjectEditSenseItProfileCtrl"></div>
        <ul>
            <li ng-repeat="sensorInput in profile.sensorInputs">
                <div ng-include="'html/partials/project-edit-senseit-sensor.html'" ng-controller="ProjectEditSenseItSensorCtrl"></div>
            </li>
        </ul>
        <div ng-include="'html/partials/project-edit-senseit-newsensor.html'" ng-controller="ProjectEditSenseItSensorCtrl"></div>
    </li>
</ul>

<div ng-include="'html/partials/project-edit-senseit-newprofile.html'" ng-controller="ProjectEditSenseItProfileCtrl"></div>


