<!DOCTYPE html>

<h2 class="content-subhead">Voting answers</h2>

<form class="pure-form">
    <fieldset>
        <legend>Filter answers</legend>


        <select id="author">
            <option value="any">All</option>
            <option value="mine">Only mine</option>
            <option value="others">Only by others</option>
        </select>

        <input type="search" placeholder="Search">

        <button type="reset" class="pure-button pure-button-primary pure-button-small">Reset</button>

    </fieldset>
</form>

<table data-ng-if="answersReady" class="pure-table sortable-table">
    <thead>
    <tr>
        <th data-ng-class="headerClass('author')" data-ng-click="headerSort('author')">Author</th>
        <th data-ng-class="headerClass('votes')" data-ng-click="headerSort('votes')">Votes</th>
        <th data-ng-class="headerClass('title')" data-ng-click="headerSort('title')">Answer</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="answer in answerList()">
        <td>{{answer.author.name}}</td><td>{{answer.voteCount.positive}} / {{answer.voteCount.negative}}</td><td>{{answerTeaser(answer)}}</td>
    </tr>
    </tbody>
</table>