<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href="#">sense-it</a>

    <ul>
        <li data-ng-class="{'pure-menu-selected': active('home')}"><a href="" data-ng-click="open('home')">Home</a></li>
        <li data-ng-class="{'pure-menu-selected': active('projects')}"><a href="" data-ng-click="open('projects')">Projects</a></li>
        <li data-ng-class="{'pure-menu-selected': active('create')}"><a href="" data-ng-click="open('create')">Create</a></li>
        <li class="menu-item-divided" data-ng-class="{'pure-menu-selected': active('profile')}">
            <div data-ng-include="'partials/login-menu-item.html'" data-ng-controller="LoginCtrl"></div>
        </li>
    </ul>
</div>
