
$color-project-type-challenge-dark: rgb(128, 100, 162);
$color-project-type-challenge-normal: lighten($color-project-type-challenge-dark, 20%);
$color-project-type-challenge-light: lighten($color-project-type-challenge-normal, 20%);

$color-project-type-senseit-dark: rgb(79, 129, 189);
$color-project-type-senseit-normal: lighten($color-project-type-senseit-dark, 20%);
$color-project-type-senseit-light: lighten($color-project-type-senseit-normal, 20%);

$color-project-type-spotit-dark: rgb(155, 187, 89);
$color-project-type-spotit-normal: lighten($color-project-type-spotit-dark, 20%);
$color-project-type-spotit-light: lighten($color-project-type-spotit-normal, 20%);

