@import "image-crop";

.spotit-observation {
  @extend .image-crop;


  .spotit-observation-metadata {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    background: rgba(255, 255, 255, .5);
  }

  margin-bottom: 20px;
}

