
@import "image-crop";

.project-item {
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}

.project-item.project-type-challenge {
  border-color: rgb(128, 100, 162);
}

.project-item.project-type-senseit {
  border-color: rgb(79, 129, 189);
}

.project-item.project-type-spotit {
  border-color: rgb(155, 187, 89);
}


.project-item > .project-item-image-container {
  @extend .image-crop;
}
.project-item > .project-item-image-container > img {
  cursor: pointer;
}


.project-item-title,
.project-item-author,
.project-item-data-count,
.project-item-data-label {
  text-align: center;
}
