
@import "image-crop";
@import "colors";

.project-item {
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}

.project-item.project-type-challenge {
  border-color: $color-project-type-challenge-dark;
}

.project-item.project-type-senseit {
  border-color: $color-project-type-senseit-dark;
}

.project-item.project-type-spotit {
  border-color: $color-project-type-spotit-dark;
}


.project-item > .project-item-image-container {
  @extend .image-crop;
}
.project-item > .project-item-image-container > img {
  cursor: pointer;
}


.project-item-title,
.project-item-author,
.project-item-data-count,
.project-item-data-label {
  text-align: center;
}
