
table.sortable-table th {
  cursor: pointer;
}

table.sortable-table th.ascending:after {
  content: ' ▲';
  font-size: .75em;
}

table.sortable-table th.descending:after {
  content: ' ▼';
  font-size: .75em;
}

table td.selectable {
  cursor: pointer;
}

table tr.selected {
  background: #519251;
  color: white;
}
