.image-crop,
.image-crop > img {
  cursor: pointer;
  width: 100%; }

.image-crop {
  overflow: hidden;
  position: relative;
  letter-spacing: -0.31em;
  /* webkit */
  *letter-spacing: normal;
  /* reset IE < 8 */
  word-spacing: -0.43em;
  /* IE < 8 && gecko */ }

.image-crop:before,
.image-crop > img {
  /* vertically center the image */
  display: inline-block;
  vertical-align: middle; }

.image-crop:before {
  /* pseudo element to vertically align image to */
  content: "";
  /* Magic Number */
  /* Set this to your desired height(to width) ratio */
  padding-top: 75%;
  /* % of original image width */ }

.image-crop > img {
  /* removes(sorta) image from the flow */
  position: absolute;
  top: 0px;
  left: 0px; }
