.square-box, .square-box-75 {
  width: 100%;
  overflow: hidden;
  position: relative;
  letter-spacing: -0.31em;
  /* webkit */
  *letter-spacing: normal;
  /* reset IE < 8 */
  word-spacing: -0.43em;
  /* IE < 8 && gecko */ }

.square-box:before, .square-box-75:before {
  /* vertically center the image */
  display: inline-block;
  vertical-align: middle;
  /* pseudo element to vertically align image to */
  content: ""; }

.square-box-75 {
  padding-top: 75%;
  /* % of original image width */ }
