
body {
  color: #777;
}

html, body, div, button, input, select, textarea {
  font-family: 'Open Sans';
}

h1 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

div.throbber {
  height: 32px;
  background: center no-repeat url(../images/throbber.gif);
}

table.pure-table td {
  border-bottom: 1px solid #cbcbcb;
}

span.file-widget-original-deleted {
  text-decoration: line-through;
}

.siw-description-grid {
  position: absolute;
  width: 100%;
  bottom: 20%;
}

.siw-description-grid-item {
  padding: .5em;
  background: rgba(255, 255, 255, .5);
  border-radius: .5em;
  font-size: .8em;
}

.siw-description-title {
  position: absolute;
  width: 100%;
  top: 1em;
  font-size: 1.5em;
  font-style: bold;
  text-align: center;
  color: #333333;
}

@media(max-width: 48em) {
  .siw-description-grid {
    position: relative;
  }
}

