<!DOCTYPE html>

<div class="content-sidebar">
    <p>nQuire-it is one of the outcomes of the project
        <a href="http://nquire.wordpress.com/">nQuire: Young Citizen Inquiry</a>, funded by
        <a href="http://www.nominettrust.org.uk/what-we-support/projects/nquire-young-citizen-inquiry">Nominet Trust</a>.
    </p>
    <p>The goal of this website is to facilitate the creation of shared scientific projects and science related
        challenges.</p>
    <p>Please note that this site is currently under development, and its final appearance and part of its functionality is not ready yet.</p>
</div>

<div class="sidebar-right" data-ng-include="'partials/projects/projects-sidebar.html'"></div>
