<!DOCTYPE html>


<div data-ng-if="form.isOpen()">
    <form role="form">
        <div class="form-group">
            <label for="label">Field label:</label>
            <input id="label" class="form-control" type="text" placeholder="Label" data-ng-model="form.values.label"/>
        </div>
        <div class="form-group">
            <label for="type">Field type:</label>
            <select id="type" class="form-control" data-ng-model="form.values.type">
                <option value="title">Submission title</option>
                <option value="textfield">Text field</option>
                <option value="textarea">Text area</option>
            </select>
        </div>
        <div class="btn-group">

            <button class="btn btn-default" data-ng-disabled="form.okButtonDisabled()"
                    data-ng-click="form.save()">
                Create
            </button>
            <button class="btn btn-default" data-ng-disabled="form.resetButtonDisabled()"
                    data-ng-click="form.cancel()">
                Cancel
            </button>
        </div>
    </form>
</div>
<div data-ng-if="!form.isOpen()">
    <p>
        <b>{{field.label}}</b>
    <span data-ng-switch="field.type">
        <span data-ng-switch-when="title">(Submission title)</span>
        <span data-ng-switch-when="textfield">(Text field)</span>
        <span data-ng-switch-when="textarea">(Text area)</span>
    </span>

    <span class="btn-group">
        <button class="btn btn-default" data-ng-click="form.open()">Edit</button>
        <button class="btn btn-default" data-ng-click="deleteProfile()">Delete field</button>
    </span>
    </p>

</div>

