<div class="project-section-header" data-ng-include="'partials/project/blocks/project-menu.html'"></div>

<div class="project-section-content">

    <div class="project-section-description-column">
        <div data-ng-include="'partials/project/blocks/project-metadata.html'"></div>
    </div>

    <div class="project-section-content-column">
        <p class="project-section-content-header">Mission administration</p>

        <p>
            This project is currently <b>open</b>. Therefore, participants can join and browse it. However,
            you cannot edit it.
        </p>

        <p>
            If you need to edit this project, click on "Close project" to enable edition.
        </p>

        <p>
            <button class="btn btn-default" data-ng-click="closeProject()">Close project</button>
        </p>
    </div>
</div>

