@import "../variables/dimensions";
@import "../variables/colors";

.forum-container {
  margin: 0 $dim-common-margin;

  .forum-header {
    height: $dim-forum-header-height;
    line-height: $dim-forum-header-height;
    color: white;
    background: $color-dark-grey;
    padding-left: $dim-common-small-margin;

    .arrow {
      color: #aaaaaa;
    }

    a {
      color: $color-dark-background-link;
    }
  }
  .forum-content {
    padding: $dim-common-small-margin;
    background: $color-project-list-item-background;

    tr.forum-list-category > td {
      color: $color-medium-grey;
      font-weight: bold;
    }

    tr.forum-list-forum {
      span.arrow {
        padding: 0 $dim-common-small-margin;
        color: $color-medium-grey;
      }
    }

  }

  .forum-thread-content {
    @extend .forum-content;

    .forum-thread-comment {
      position: relative;
      min-height: $dim-common-margin + 2*$dim-common-small-margin + $dim-profile-image-outer-diameter;

      margin-bottom: $dim-common-margin;
      background: $color-forum-thread-comment;

      .forum-thread-comment-header {
        height: $dim-common-banner;
        line-height: $dim-common-banner;
        padding: 0 $dim-common-small-margin;
        background: $color-medium-grey;
        color: #ffffff;

        .username {
          display: inline-block;
          min-width: $dim-profile-image-outer-diameter;
          margin-right: $dim-common-small-margin;
        }

        .date {
          display: inline-block;
        }
      }

      .forum-thread-author-image {
        position: absolute;
        float: left;
        padding: $dim-common-small-margin 0 0 $dim-common-small-margin;
      }

      .forum-thread-text {
        margin-left: 2*$dim-common-small-margin + $dim-profile-image-outer-diameter;
        padding: $dim-common-small-margin 0;
      }
    }

  }

}

