<!DOCTYPE html>

<div data-ng-controller="ProjectEditSenseItAnalysisCtrl">

    <!-- TRANSFORMATIONS -->

    <p class="project-section-content-header">Data processing</p>

    <ul class="siw-transformations">
        <li data-ng-repeat="variable in transformations.variables | orderBy:'weight'">
            <span data-ng-if="txEdit.editable(variable)"><input type="text" data-ng-model="variable.tx.name" /></span>
            <span data-ng-if="!txEdit.editable(variable)">{{variable.label()}}</span>
            <span data-ng-if="variable.editable">
                : {{ variable.txLabel() }} (
                <span data-ng-repeat="(input_index, v) in transformations.inputVariables(variable)">
                    <span data-ng-if="txEdit.editable(variable)">
                        <span data-ng-if="!$first">, </span>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                {{ v ? v.label() : '?'}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li data-ng-repeat="av in transformations.availableInputVariables(variable, input_index)">
                                    <a href="" data-ng-click="txEdit.setInputVariable(variable.tx, av.id, input_index)">
                                        {{av.label()}}
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </span>
                    <span data-ng-if="!txEdit.editable(variable)">
                        <span data-ng-if="!$first">, </span><span>{{ v ? v.label() : '?'}}</span>
                    </span>
                </span>
            )
            </span>
            <span>: {{variable.outputLabel()}}</span>
            <button data-ng-if="txEdit.editable(variable)" class="btn btn-default"
                    data-ng-click="txEdit.deleteVariable(variable)">
                Delete
            </button>
        </li>
    </ul>

    <div data-ng-if="txForm.isOpen()">
        <p>

        <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Add transformation <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li data-ng-repeat="(t, label) in availableTransformations">
                    <a href="" data-ng-click="txEdit.createVariable(t)">{{label}}</a>
                </li>
            </ul>
        </div>
        </p>

        <p class="btn-group">
            <button class="btn btn-default"
                    data-ng-disabled="txForm.okButtonDisabled()"
                    data-ng-click="txForm.save()">
                Save
            </button>
            <button class="btn btn-default"
                    data-ng-disabled="txForm.resetButtonDisabled()"
                    data-ng-click="txForm.cancel()">
                Cancel
            </button>
        </p>
    </div>
    <div data-ng-if="!txForm.isOpen()">
        <p>
            <button class="btn btn-default" data-ng-click="txEdit.open()">Edit</button>
        </p>
    </div>
</div>