<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>nQuire-it | OAuth login</title>
    <link rel="stylesheet" href="/css/nquire-it-bootstrap.css" type='text/css'/>
</head>
<body>
<div id="page-background">
    <div id="page-background-center"></div>
</div>
<div id="main">
    <div id="header">
        <div id="header-content">
            <div id="logo-container">
                <a href="#/home" target="_blank">
                    <img src="/css/images/nquire-it-logo.jpg"/>
                </a>
            </div>
        </div>
    </div>

    <div class="main-content-section">
        <div class="main-content">
            <div class="login-container">
                <div class="login-header"><span th:text="${msg}"></span></div>
                <div class="login-content">
                    <p><b>Redirecting to <span th:text="${provider_name}"></span>...</b></p>

                    <form id="oauth-form-redirection" name="oauth-form-redirection" th:action="${signin_url}"
                          method="POST">
                        <button id="form-submit" type="submit">Sign in</button>
                        <input type="hidden" name="scope" th:value="${scopes}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/libs/jquery-2.1.0.min.js"></script>
<script>
    $(function () {
        $('#oauth-form-redirection').submit();
        $('#form-submit').hide();
    });
</script>
</body>
</html>