<!DOCTYPE html>


<div class="header">
    <h1>My profile</h1>
</div>
<div class="content">

    <div data-ng-if="!status.logged">

        <p>
            <button class="pure-button pure-button-primary" data-ng-click="providerLogin('google')">
                Log in with Google
            </button>
            <button class="pure-button pure-button-primary" data-ng-click="providerLogin('facebook')">
                Log in with Facebook
            </button>
            <button class="pure-button pure-button-primary" data-ng-click="providerLogin('twitter')">
                Log in with Twitter
            </button>
        </p>

        <form class="pure-form pure-form-stacked">
            <fieldset>
                <label for="login_username">Username:</label>
                <input id="login_username" type="text"
                       data-ng-model="login.editing.username"/>
                <span data-ng-if="login.error.username"
                      class="profile-login-username-error">{{login.error.username}}</span>

                <label for="login_password">Password:</label>
                <input id="login_password" type="password"
                       data-ng-model="login.editing.password"/>
                <span data-ng-if="login.error.password"
                      class="profile-login-password-error">{{login.error.password}}</span>

                <button class="pure-button pure-button-primary pure-button-small" data-ng-click="login.submit()">
                    Login
                </button>
            </fieldset>
        </form>
    </div>

    <div data-ng-if="status.logged">
        <p>
            <button class="pure-button pure-button-primary pure-button-small" data-ng-click="logout()">
                Logout
            </button>
        </p>

        <div data-ng-if="form.isOpen()">
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <label for="username">User name</label> <input id="username" type="text"
                                                                   placeholder="User name"
                                                                   data-ng-model="form.values.username">
                    <span data-ng-if="formError" class="profile-username-error">{{formErrorText()}}</span>

                    <button class="pure-button pure-button-primary pure-button-small"
                            data-ng-disabled="form.okButtonDisabled()" data-ng-click="form.save()">
                        Save
                    </button>
                    <button class="pure-button pure-button-primary pure-button-small"
                            data-ng-disabled="form.resetButtonDisabled()"
                            data-ng-click="form.cancel()">Cancel
                    </button>
                </fieldset>
            </form>
        </div>
        <div data-ng-if="!form.isOpen()">
            <p>Username:
                <span>{{status.profile.username}}</span>
                <button class="pure-button pure-button-primary pure-button-xsmall"
                        data-ng-click="form.open()">Edit
                </button>
            </p>
        </div>

        <div data-ng-if="password.editing">
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <div data-ng-if="password.set()">
                        <label for="oldpassword">Previous password:</label>
                        <input id="oldpassword" type="password"
                               data-ng-model="password.editing.oldPassword"/>
                        <span data-ng-if="password.error.oldPassword" class="profile-oldpassword-error">{{password.error.oldPassword}}</span>
                    </div>

                    <label for="newpassword">New password:</label>
                    <input id="newpassword" type="password"
                           data-ng-model="password.editing.newPassword"/>
                    <span data-ng-if="password.error.newPassword" class="profile-newpassword-error">{{password.error.newPassword}}</span>

                    <label for="repeatpassword">Repeat new password:</label>
                    <input id="repeatpassword" type="password"
                           data-ng-model="password.editing.repeatPassword"/>
                    <span data-ng-if="password.error.repeatPassword" class="profile-newpassword-error">{{password.error.repeatPassword}}</span>

                    <button class="btn btn-default" data-ng-click="password.save()">
                        {{password.set() ? 'Change password' : 'Set password'}}
                    </button>
                    <button class="btn btn-default" data-ng-click="password.cancel()">
                        Cancel
                    </button>
                </fieldset>
            </form>
        </div>
        <div data-ng-if="!password.editing">
            <p>Password set: <span>{{password.set() ? 'Yes' : 'No'}}</span>
                <button class="btn btn-default" data-ng-click="password.edit()">
                    {{password.set() ? 'Change password' : 'Set password'}}
                </button>
            </p>
        </div>

        <div data-ng-if="imageForm.isOpen()">
            <form role="form">
                <div class="form-group">
                    <label for="file-select-input-image">Profile image:</label>
                    <div id="file-select-input-image" data-siw-file-select-widget data-ng-attr-filekey="image"
                         data-ng-attr-original="{{status.profile.image}}">
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-ng-click="imageForm.save()">Save</button>
                    <button type="button" class="btn btn-default" data-ng-click="imageForm.cancel()">Cancel</button>
                </div>
            </form>
        </div>
        <div data-ng-if="!imageForm.isOpen()">
            <p>
                Profile image:
                <span data-siw-user-image data-user="status.profile"></span>
                <button type="button" class="btn btn-default" data-ng-click="imageForm.open()">{{status.profile.image ?
                    'Upload new image' : 'Upload image'}}
                </button>
            </p>
        </div>

        <p>Identity providers:</p>
        <ul>
            <li data-siw-profile-provider-item
                data-ng-attr-provider="google"></li>
            <li data-siw-profile-provider-item
                data-ng-attr-provider="facebook"></li>
            <li data-siw-profile-provider-item
                data-ng-attr-provider="twitter"></li>
        </ul>
    </div>
</div>
