<!DOCTYPE html>

<div data-ng-if="projectData.ready && !projectData.project.open && status.logged && projectData.access.admin">

    <div data-ng-switch="projectData.project.type">
        <div data-ng-switch-when="senseit">
            <div data-ng-include="'partials/project/edit/senseit/project-edit-senseit.html'"></div>
        </div>
        <div data-ng-switch-when="challenge">
            <div data-ng-include="'partials/project/view/project-edit-challenge.html'"></div>
        </div>
        <div data-ng-switch-when="spotit">
            <div data-ng-include="'partials/project/view/project-edit-spotit.html'"></div>
        </div>
    </div>

</div>

<!--<div data-ng-if="projectData.ready && status.logged && projectData.access.admin">

    <div data-ng-if="projectData.project.open">
        <p>
            You cannot edit this project while it is open. Go to the
            <a data-ui-sref="project.admin">admin section</a>
            if you want to close this project to enable editing.
        </p>
    </div>
    <div data-ng-if="!projectData.project.open">
        <div data-ng-include="'partials/project/edit/project-edit-menu.html'"></div>
        <div data-ui-view></div>
    </div>
</div>
<div data-ng-if="!projectData.ready">
    <div class="header">
        <div class="throbber"></div>
        <h2>Loading...</h2>
    </div>
</div>
-->