<!DOCTYPE html>

<div data-ng-controller="ProjectViewDataCtrl">
    <div data-ng-controller="ProjectViewSpotItCtrl">

        <div data-ng-if="showProjectViewMenu()">
            <div data-ng-controller="DataProjectMenuCtrl">
                <ul class="nav nav-tabs">
                    <li data-ng-class="{'active' : projectViewMenuIsActive('home')}" data-ui-sref="project.view.home">
                        <a href="#">Sense-it</a>
                    </li>
                    <li data-ng-class="{'active' : projectViewMenuIsActive('data-list')}"
                        data-ui-sref="project.view.data-list">
                        <a href="#">Data</a>
                    </li>
                    <li data-ng-class="{'active' : projectViewMenuIsActive('data-map')}"
                        data-ui-sref="project.view.data-map"
                        data-ng-if="projectData.project.activity.geolocated">
                        <a href="#">Map</a>
                    </li>
                </ul>
            </div>
        </div>

        <div data-ui-view></div>
    </div>
</div>