<div class="content-sidebar">
    <div data-ng-if="isShown('senseit')" class="project-create-type-senseit">
        <div class="project-create-type-image"
             data-ng-click="select('senseit')"></div>
        <div class="project-create-type-info">
            <p class="project-create-type-info-header">Sense-it</p>
            <p>Is there something you are curious about - asking how, where, when and what?</p>
            <p>Find answers by using the sensors in your phone! Invite others to help collect data!</p>
            <p>Make it your <span class="project-create-type">Sense-it</span> mission!</p>
            <div class="project-create-type-banner">
                Create your own <b>Sense-it</b> mission
            </div>
        </div>
    </div>

    <div data-ng-if="isShown('spotit')" class="project-create-type-spotit">
        <div class="project-create-type-image"
             data-ng-click="select('spotit')"></div>
        <div class="project-create-type-info">
            <p class="project-create-type-info-header">Spot-it</p>
            <p>Have you spotted something interesting or unusual that you are amused or curious about?</p>
            <p>Take a photo with your phone. Share the spot with other nQuirers.</p>
            <p>Make it your <span class="project-create-type">Spot-it</span> mission!</p>
            <div class="project-create-type-banner">
                Create your own <b>Sense-it</b> mission
            </div>
        </div>
    </div>

    <div data-ng-if="isShown('challenge')" class="project-create-type-challenge">
        <div class="project-create-type-image"
             data-ng-click="select('challenge')"></div>
        <div class="project-create-type-info">
            <p class="project-create-type-info-header">Win-it</p>
            <p>Do you need creative ideas about somehting from other nQuirers?
                Would you be prepared to offera prize for the best idea?
            </p>
            <p>Create a <b>Win-it</b> mission!</p>
            <div class="project-create-type-banner">
                Create your own <b>Win-it</b> mission
            </div>
        </div>
    </div>

    <form class="form" role="form" data-ng-if="type">
        <div class="btn-group">
            <button class="btn btn-default" data-ng-disabled="okDisabled()" data-ng-click="create()">Create</button>
            <button class="btn btn-default" data-ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>

<div class="sidebar-right" data-ng-include="'partials/projects/projects-sidebar.html'"></div>
